@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Cousine";
	font-weight: 400;
	src: url("/assets/fonts/cousine-regular-webfont.woff2") format("woff2"),
		url("/assets/fonts/cousine-regular-webfont.woff") format("woff");
}

@layer components {
	.custom-scroll::-webkit-scrollbar {
		@apply w-1.5;
	}
	.custom-scroll::-webkit-scrollbar-thumb {
		@apply rounded-md bg-indigo-600;
	}
	.custom-scroll::-webkit-scrollbar-track {
	@apply bg-transparent;
	}
}

